<?xml version="1.0"?>
<launch>
  <include file="$(find ecnu_ur5_bringup)/launch/ecnu_ur5_drivers.launch"/>
 

  <include file="$(find ecnu_ur5_support)/launch/ecnu_ur5_upload.launch"/>

  <include file="$(find ecnu_ur5_setup_moveit_config)/launch/move_group.launch"/>
  <!--
  <node name="camera_pose" pkg="ecnu_ur5_setup_bringup" type="publisher_tf.py" output="screen"/>

  <include file="$(find ecnu_ur5_setup_bringup)/launch/xtion.launch"/>
  -->
</launch>
